* {
    --main-color: #039BE6;
}

@media (min-width: 638px) {
    .logo img {
        border-radius: 50%;
        margin-top: 10px;
        position: sticky;
    }
    .logo #logo {
        left: 42.5%;
    }
    .logo #frame {
        right: 40.5%;
        width: 19%;
    }
}
@media (max-width: 692px) {
    .logo img {
        border-radius: 50%;
        margin-top: 10px;
        position: sticky;
    }
    .logo #logo {
        left: 28.5%;
    }
    .logo #frame {
        right: 21%;
        width: 54%;
    }
}
.acc {
    text-decoration: none;
    color: crimson;
}
.acc:hover,
.acc:active {
    color:var(--main-color)
}