* {
    --main-color: #039BE6;
}

.logo img {
    border: 3px solid lightblue;
    border-radius: 50%;
    margin-top: 10px;
}
.acc {
    text-decoration: none;
    color: crimson;
}
.acc:hover,
.acc:active {
    color:var(--main-color)
}