* {
    --main-color: #039BE6;
}
.logo img {
    border-radius: 50%;
    margin-top: 10px;
    position: sticky;
}
.logo #logo {
    left: 42.5%;
}
.logo #frame {
    right: 40.5%;
    width: 19%;
}
.acc {
    text-decoration: none;
    color: crimson;
}
.acc:hover,
.acc:active {
    color:var(--main-color)
}