* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    position: fixed;
}
nav a {
    margin-right: 8px;
}
.navbar-toggler {
    margin-left: 8px;
}
.d-flex a {
    margin-left: 8px;
}